{% extends '::base.html.twig' %}

{% block title %}:: Usuario :: {% if isCreate %}Crear{% else %}Editar{% endif %}{% endblock %}
{% block bodyTitle %}{% if isCreate %}Crear Usuario{% else %}Editar Usuario{% endif %}{% endblock %}

{% block body %}
<form action="" method="POST">
	<fieldset>
	<legend>Usuario</legend>
	
	{{ form_errors(form) }}

	<div>
		{{ form_label(form.user, 'Usuario:', {'label_attr':{'class':''}}) }}
		<div>		    
			{{ form_widget(form.user, {'attr':{'class':'', 'placeholder':'letras y numeros entre 1 y 50 caracteres', 'title':'Usuario'}})}}
		</div>
		<div>
			<span>Requerido</span>
		</div>
		<div>
			{{ form_errors(form.user) }}
		</div>
	</div>

	<div>
		{{ form_label(form.password.first, 'Password:', {'label_attr':{'class':''}}) }}
		<div>
			{{ form_widget(form.password.first, {'attr':{'class':'', 'placeholder':'letras y numeros entre 1 y 100 caracteres', 'title':'Password'}})}}
		</div>
		<div>
			<span>{% if isCreate %}Requerido{% else %}Dejar en blanco si no desea canbiar el password{% endif %}</span>
		</div>
		<div>
			{{ form_errors(form.password.first) }} {{ form_errors(form.password) }}
		</div>
	</div>
	<div>
		{{ form_label(form.password.second, 'Repetir Password:', {'label_attr':{'class':''}}) }}
		<div>
			{{ form_widget(form.password.second, {'attr':{'class':'', 'title':'Password'}})}}
		</div>
		<div>
			<span>{% if isCreate %}Requerido{% else %}Dejar en blanco si no desea canbiar el password{% endif %}</span>
		</div>
		<div>
			{{ form_errors(form.password.first) }}
		</div>
	</div>

	<div>
		{{ form_label(form.name, 'Nombre:', {'label_attr':{'class':''}}) }}
		<div>		    
			{{ form_widget(form.name, {'attr':{'class':'', 'title':'Nombre'}})}}
		</div>
		<div>
			{{ form_errors(form.name) }}
		</div>
	</div>

	<div>
		{{ form_label(form.lastName, 'Apellido:', {'label_attr':{'class':''}}) }}
		<div>		    
			{{ form_widget(form.lastName, {'attr':{'class':'', 'title':'Apellido'}})}}
		</div>
		<div>
			{{ form_errors(form.lastName) }}
		</div>
	</div>

	<div>
		{{ form_label(form.email, 'Email:', {'label_attr':{'class':''}}) }}
		<div>		    
			{{ form_widget(form.email, {'attr':{'class':'', 'title':'Email'}})}}
		</div>
		<div>
			{{ form_errors(form.email) }}
		</div>
	</div>

	<div>
		{{ form_label(form.description, 'Descripcion:', {'label_attr':{'class':''}}) }}
		<div>
			{{ form_widget(form.description, {'attr':{'placeholder': 'Ej: Usuario Administrador', 'class': '', 'rows': '5'}}) }}
			<span>Max: 100 caracteres.</span>
		</div>
		<div>
			{{ form_errors(form.description) }}
		</div>
	</div>

	<div>
		{{ form_label(form.status, 'Activo:', {'label_attr':{'class':''}}) }}
		<div>
			{{ form_widget(form.status, {'attr':{'class':'', 'title':'Activo'}})}}
		</div>
		<div></div>
		<div>
			{{ form_errors(form.status) }}
		</div>
	</div>

	<div>
		{{ form_label(form.isSuperAdmin, 'Super Admin:', {'label_attr':{'class':''}}) }}
		<div>
			{{ form_widget(form.isSuperAdmin, {'attr':{'class':'', 'title':'Super Admin'}})}}
		</div>
		<div></div>
		<div>
			{{ form_errors(form.isSuperAdmin) }}
		</div>
	</div>
	</fieldset>


	<fieldset>
		<legend>Roles</legend>
		{% for role in form.assignedRoles %}
		<div>
			<div></div>
			<label>{{ form_widget(role) }} {{ role.vars.label }}</label>
		</div>
		{% endfor %}			
	</fieldset>

	<div>
		<input type="submit" value="Guardar">
		<a href="{{ path('user_index') }}">Cancelar</a>
	</div>
</form>
{% endblock %}