{% extends '::base.html.twig' %}

{% block title %}:: Usuario :: Lista{% endblock %}
{% block bodyTitle %}Lista de Usuarios{% endblock %}

{% block body %}

<table>
	<thead>
		<tr>
			<th>ID</th>
			<th>Usuario</th>
			<th>Password</th>
			<th>Estado</th>
			{% if is_granted('ROLE_ROLE_SHOW') %}<th>Roles</th>{% endif %}
			<th>Acciones</th>
		</tr>
	</thead>
	<tbody>
		{% for user in users %}
		<tr class="{{ user.status ? 'success' : 'warning' }}">
			<td>{{ user.id }}</td>
			<td>
				{% if is_granted('ROLE_USER_SHOW') %}
					<a href="{{ path('user_show', {id: user.id}) }}">{{ user.user }}</a>
				{% else %}
					{{ user.user }}
				{% endif %}
			</td>
			<td></td>
			<td>{{ user.status ? 'Activo' : 'Inactivo' }}</td>
			{% if is_granted('ROLE_ROLE_SHOW') %}
			<td>
				<ul>
					{% for role in user.assignedRoles %}
					<li><a href="{{ path('user_role_show', {id: role.id}) }}">{{ role.name }}</a></li>
					{% endfor %}
				</ul>
			</td>
			{% endif %}
			<td>
				<ul>
					{% if is_granted('ROLE_USER_SHOW') %}<li><a href="{{ path('user_show', {id: user.id}) }}">Detalle</a></li>{% endif %}
					{% if is_granted('ROLE_USER_EDIT') %}<li><a href="{{ path('user_edit', {id: user.id}) }}">Editar</a></li>{% endif %}
					{% if is_granted('ROLE_USER_DELETE') %}<li><a href="{{ path('user_delete', {id: user.id}) }}" class="user-action-delete">Borrar</a></li>{% endif %}
				</ul>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% if is_granted('ROLE_USER_ADD') %}
<div>
 <a href="{{ path('user_create') }}">Crear</a>
</div>
{% endif %}

{% endblock %}

{% block javascripts %}
<script type="text/javascript">
	$('.user-action-delete').click(function(e){
		continueToLink = confirm("¿Confirma que desea eliminar este usuario?");
		return continueToLink;
	});
</script>
{% endblock %}