<html>	
<head>
<title>{% block title %}:: Loging{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<meta name="keywords" content="Kipy Login Form Responsive Templates, Iphone Widget Template, Smartphone login forms,Login form, Widget Template, Responsive Templates, a Ipad 404 Templates, Flat Responsive Templates" />
<link href="../css/style.css" rel='stylesheet' type='text/css' />
<!--webfonts-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:700,300,600,800,400' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Marvel:400,700' rel='stylesheet' type='text/css'>
<!--//webfonts-->
</head>
<body>
{% block body %}
{% if error %}
    <div>{{ error }}</div>
{% endif %}

<h1>{% block bodyTitle %}Login{% endblock %}</h1>
	<div class="login-form">
		<h2>User Login</h2>
			<div class="form-info">
					<form action="{{ path('login_check') }}" method="post">
						<label for="username"></label><br/>
    					<input type="text" class="email" placeholder="user" id="username" name="_username" value="{{ last_username }}" required="required" />
							
    					<label for="password"></label><br/>

							

							<input type="password" class="password" placeholder="Password" id="password" name="_password" required="required"/>

						<ul class="login-buttons">
							<li><input type="submit" value="LOGIN"/></li>

							<div class="clear"> </div>
						</ul>
					</form>
			</div>
	</div>
</body>
</html>

{% endblock %}