{% extends '::base.html.twig' %}

{% block title %}:: Usuario :: Detalle{% endblock %}
{% block bodyTitle %}Detalle del Usuario{% endblock %}

{% block body %}
<dl>
	<dt>Usuario:</dt><dd>{{ user.user }}</dd>
	<dt>Alta:</dt><dd>{{ user.created|date('d/m/Y H:i') }}</dd>
	<dt>Modificación:</dt><dd>{{ user.modified|date('d/m/Y H:i') }}</dd>
	<dt>Estado:</dt><dd>{%if user.status %}Activo{% else %}Inactivo{% endif %}</dd>
	<dt>Nombre:</dt><dd>{{ user.name }}</dd>
	<dt>Apellido:</dt><dd>{{ user.lastName }}</dd>
	<dt>Email:</dt><dd>{{ user.email }}</dd>	
	<dt>Descripcion:</dt><dd>{{ user.description }}</dd>
	<dt>Super Admin:</dt><dd>{% if user.isSuperAdmin %}Si{% else %}No{% endif %}</dd>
	<dt>Roles:</dt>
	<dd>
	{% if user.assignedRoles is empty %}
		<small>Ningún rol asignado.</small>
	{% else %}
	<ul>
		{% for role in user.assignedRoles %}
		<li>
			<a href="{{ path('user_role_show', {id: role.id}) }}">{{ role.name }}</a>
		</li>
		{% endfor %}
	</ul>
	{% endif %}
	</dd>
</dl>

<div>
	<a href="{{ path('user_edit', {id: user.id}) }}">Editar</a>
	<a href="{{ path('user_index') }}">Volver a la Lista</a>
</div>
{% endblock %}