{% extends '::base.html.twig' %}

{% block title %}:: Permiso :: {% if isCreate %}Crear{% else %}Editar{% endif %}{% endblock %}
{% block bodyTitle %}{% if isCreate %}Crear Permiso{% else %}Editar Permiso{% endif %}{% endblock %}

{% block body %}
<form action=""  method="POST">
	{{ form_errors(form) }}

	<div>
		{{ form_label(form.name, 'Nombre:', {'label_attr':{'class':''}}) }}
		<div>
			{{ form_widget(form.name, {'attr':{'placeholder': 'Ej: ROLE_RESERVA_CLIENTE', 'class': ''}}) }}
		</div>
		<div>
			<span>Requerido</span>
		</div>
		<div>
			{{ form_errors(form.name) }}
		</div>
	</div>

	<div>
		{{ form_label(form.name, 'Descripcion:', {'label_attr':{'class':''}}) }}
		<div>
			{{ form_widget(form.description, {'attr':{'placeholder': 'Ej: Permiso para crear una reserva', 'class': '', 'rows': '5'}}) }}
			<span>Max: 255 caracteres.</span>
		</div>
	</div>

	{{ form_rest(form) }}

	<div>
		<input type="submit" value="Guardar">
		<a href="{{ path('user_permission_index') }}">Cancelar</a>
	</div>

</form>
{% endblock %}