{% extends '::base.html.twig' %}

{% block title %}:: Permiso :: Lista{% endblock %}
{% block bodyTitle %}Lista de Permisos{% endblock %}

{% block body %}
<div>
	<table>
		<thead>
			<tr>
				<th>Id</th>
				<th>Nombre</th>
				<th>Descripción</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
		{% if permissions is empty %}
		<td colspan="5">No se han creado Permisos.</td>
		{% endif %}

		{% for permission in permissions %}
		<tr>
			<td>{{ permission.id }}</td>
			<td>
				{% if is_granted('ROLE_PERMISSION_SHOW') %}
					<a href="{{ path('user_permission_show', {id: permission.id}) }}">{{ permission.name }}</a></td>
				{% else %}
					{{ permission.name }}
				{% endif %}
			<td>{{ permission.description }}</td>
			<td>
				<ul>
					{% if is_granted('ROLE_PERMISSION_UPDATE') %}<li><a href="{{ path('user_permission_edit', {id: permission.id}) }}">Editar</a></li>{% endif %}
					{% if is_granted('ROLE_PERMISSION_DELETE') %}<li><a href="{{ path('user_permission_delete', {id: permission.id}) }}" class="permission-action-delete">Borrar</a></li>{% endif %}
				</ul>
			</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
</div>

{% if is_granted('ROLE_PERMISSION_ADD') %}
<div>
 <a href="{{ path('user_permission_create') }}">Crear</a>
</div>
{% endif %}

{% endblock %}

{% block javascripts %}
<script type="text/javascript">
	$('.permission-action-delete').click(function(e){
		continueToLink = confirm("¿Confirma que desea eliminar este Permiso?");
		return continueToLink;
	});
</script>
{% endblock %}