{% extends '::base.html.twig' %}

{% block title %}:: Permiso :: Detalle{% endblock %}
{% block bodyTitle %}Detalle del Permiso{% endblock %}

{% block body %}

<dl>
	<dt>Nombre:</dt><dd>{{ permission.name }}</dd>
	<dt>Descripción:</dt><dd>{{ permission.description }}</dd>
	<dt>Roles:</dt>
	<dd>
		{% if permission.roles is empty %}
		<small>No esta asignado a ningun rol.</small>
		{% else%}
		<ul>
		{% for rol in permission.roles %}
		<li><a href="{{ path('user_role_show', {id: rol.id}) }}" target="_blank">{{ rol.name }}</a></li>
		{% endfor %}
		</ul>
		{% endif %}
	</dd>
</dl>

<div>
	<a href="{{ path('user_permission_edit', {id: permission.id}) }}">Editar</a>
	<a href="{{ path('user_permission_index') }}">Volver a la Lista</a>
</div>
{% endblock %}