<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>Sistema de Reservas</title>

    <!-- The jQuery library is a prerequisite for all jqSuite products -->
    <script type="text/ecmascript" src="../../externo/js/jquery.min.js"></script> 
    <!-- We support more than 40 localizations -->
    <script type="text/ecmascript" src="../../externo/js/trirand/i18n/grid.locale-es.js"></script>
    <!-- This is the Javascript file of jqGrid -->   
    <script type="text/ecmascript" src="../../externo/js/trirand/jquery.jqGrid.min.js"></script>
    <!-- This is the localization file of the grid controlling messages, labels, etc.
    <!-- A link to a jQuery UI ThemeRoller theme, more than 22 built-in and many more custom -->
    <link rel="stylesheet" type="text/css" media="screen" href="../../externo/css/jquery-ui.css" />
    <!-- The link to the CSS that the grid needs -->
    <link rel="stylesheet" type="text/css" media="screen" href="../../externo/css/trirand/ui.jqgrid.css" />
    

    <script type="text/ecmascript" src="../../externo/js/jquery.json-2.2.min.js"></script>

        <script>
        
        function cargarModulosHabilitados()
        {
            var valoresx = "";
            $.ajax({
                                data: {},
                                type: "POST",
                                dataType: "json",
                                url: "modulos/permisos/",
                                async:false,
                                success: function(data)
                                {


                                                        var arrayValores = data;

                                                        valoresx =[];
                                                        $.each( arrayValores, function ( userkey, uservalue) 
                                                        {
                                                            valoresx.push(uservalue);
                                                        });
                                                        
                                                        //valores = data;
                                                        //$.parseJSON(valores);
                
                                                        return valoresx;
                                },
                                error: function(xhr, textStatus, errorThrown) {
                                    // Handle error
                                    alert(errorThrown);
                                    //$.unblockUI(); 
                                  }
                        });
              return valoresx;
       }
       
       var arrayModulos = cargarModulosHabilitados();
        
        
    </script>
    
    
    <link rel="stylesheet" type="text/css" href="../bundles/reserva/resources/css/ext-all.css" />
    <link rel="stylesheet" type="text/css" href="../bundles/reserva/css/desktop.css" />

    <!-- GC -->
 	<!-- LIBS -->
 	<script type="text/javascript" src="../bundles/reserva/adapter/ext/ext-base.js"></script>
 	<!-- ENDLIBS -->

    <script type="text/javascript" src="../bundles/reserva/ext-all-debug.js"></script>
    <script type="text/javascript" src="../bundles/reserva/ext-lang-es-min.js"></script>

    <!-- DESKTOP -->
    <script type="text/javascript" src="../bundles/reserva/js/StartMenu.js"></script>
    <script type="text/javascript" src="../bundles/reserva/js/TaskBar.js"></script>
    <script type="text/javascript" src="../bundles/reserva/js/Desktop.js"></script>
    <script type="text/javascript" src="../bundles/reserva/js/App.js"></script>
    <script type="text/javascript" src="../bundles/reserva/js/Module.js"></script>
    <script type="text/javascript" src="../bundles/reserva/ux/RowEditor.js"></script>
    <script type="text/javascript" src="../bundles/reserva/desktopmod.js"></script>
    <script type="text/javascript" src="../bundles/reserva/externaUsuarios.js"></script>
    <script type="text/javascript" src="../bundles/reserva/externaVehiculos.js"></script>
    <script type="text/javascript" src="../bundles/reserva/externaAdicionales.js"></script>
    <script type="text/javascript" src="../bundles/reserva/externaTalleres.js"></script>
    <script type="text/javascript" src="../bundles/reserva/externaMarcas.js"></script>
    <script type="text/javascript" src="../bundles/reserva/externaColores.js"></script>
    <script type="text/javascript" src="../bundles/reserva/externaReparaciones.js"></script>
    <script type="text/javascript" src="../bundles/reserva/externaMprimas.js"></script>
    <script type="text/javascript" src="../bundles/reserva/externaMateriaPrimaCategoria.js"></script>
    <script type="text/javascript" src="../bundles/reserva/externaReserva.js"></script>
    <script type="text/javascript" src="../bundles/reserva/externaOrdenes.js"></script>
    <script type="text/javascript" src="../bundles/reserva/externaOrdenesAdmin.js"></script>
    <script type="text/javascript" src="../bundles/reserva/externaOrdenesAuto.js"></script>
    <script type="text/javascript" src="../bundles/reserva/externaModulos.js"></script>
    <script type="text/javascript" src="../bundles/reserva/externaRoles.js"></script>
    <script type="text/javascript" src="../bundles/reserva/externaAccesoModulos.js"></script>
    <script type="text/javascript" src="../bundles/reserva/externaBloqueoModulos.js"></script>
    <script type="text/javascript" src="../bundles/reserva/externaClientes.js"></script>
    <script type="text/javascript" src="../bundles/reserva/externaReportes.js"></script>
    <script type="text/javascript" src="../bundles/reserva/externaCategoriasVeh.js"></script>
    <script type="text/javascript" src="../bundles/reserva/externaAccesorios.js"></script>
    <script type="text/javascript" src="../bundles/reserva/externaProveedores.js"></script>
    <script type="text/javascript" src="../bundles/reserva/externaOrdenesCom.js"></script>
    <script type="text/javascript" src="../bundles/reserva/externaFranquiciados.js"></script>
    
</head>
<body scroll="no">

<div id="x-desktop">
    <a href="http://www.outboxfactory.com" target="_blank" style="margin:5px; float:right;">
    <img src="../bundles/reserva/images/logo.png" />
    </a>

    <dl id="x-shortcuts">
        <dt id="externaReserva-win-shortcut">
            <a href="#"><img src="../bundles/reserva/images/s.gif" />
            <div>Reservas</div></a>
        </dt>
        <dt id="externaVehiculo-win-shortcut">
            <a href="#"><img src="../bundles/reserva/images/s.gif" />
            <div>Vehiculos</div></a>
        </dt>
        <dt id="externaAdicional-win-shortcut">
            <a href="#"><img src="../bundles/reserva/images/s.gif" />
            <div>Adicionales</div></a>
        </dt>
        <dt id="externaOrdenes-win-shortcut">
            <a href="#"><img src="../bundles/reserva/images/s.gif" />
            <div>&Oacute;rdenes de Trabajo</div></a>
        </dt> 
        <dt id="externaOrdenesAdmin-win-shortcut">
            <a href="#"><img src="../bundles/reserva/images/s.gif" />
            <div>OT Administraci&oacute;n</div></a>
        </dt>        
        <dt id="externaOrdenesCom-win-shortcut">
            <a href="#"><img src="../bundles/reserva/images/s.gif" />
            <div>Ordenes de Compra</div></a>
        </dt> 
    </dl>
</div>

<div id="ux-taskbar">
	<div id="ux-taskbar-start"></div>
	<div id="ux-taskbuttons-panel"></div>
	<div class="x-clear"></div>
</div>

</body>
</html>
