{% extends '::base.html.twig' %}

{% block title %}:: Rol :: {% if isCreate %}Crear{% else %}Editar{% endif %}{% endblock %}
{% block bodyTitle %}{% if isCreate %}Crear Rol{% else %}Editar Rol{% endif %}{% endblock %}

{% block body %}
<form action="" method="POST">

	{{ form_errors(form) }}
	<fieldset>
	
	<legend>Rol</legend>

	<div>
		{{ form_label(form.name, 'Nombre:', {'label_attr':{'class':''}}) }}
		<div>
			{{ form_widget(form.name, {'attr':{'placeholder': 'Ej: Administrador', 'class': ''}}) }}
		</div>
		<div>
			<span>Requerido</span>
		</div>
		<div>
		{{ form_errors(form.name) }}
		</div>
	</div>

	<div>
		{{ form_label(form.name, 'Descripcion:', {'label_attr':{'class':''}}) }}
		<div>
			{{ form_widget(form.description, {'attr':{'placeholder': 'Ej: acceso a todos los modulos', 'class': '', 'rows': '5'}}) }}
			<span>Max: 255 caracteres.</span>
		</div>
	</div>
	</fieldset>

	<fieldset>
		<legend>Permisos</legend>
		{% for permission in form.assignedPermissions %}
		<div>
			<label>
				{{ form_widget(permission) }} {{ permission.vars.label }}
			</label>
		</div>
		{% endfor %}
	</fieldset>
	
	{{ form_rest(form) }}
	
	<div>
		<input type="submit" value="Guardar">
		<a href="{{ path('user_role_index') }}">Cancelar</a>
	</div>
</form>
{% endblock %}