{% extends '::base.html.twig' %}

{% block title %}:: Rol :: Lista{% endblock %}
{% block bodyTitle %}Lista de Roles{% endblock %}

{% block body %}
<div>
	<table>
		<thead>
			<tr>
				<th>Id</th>
				<th>Rol</th>
				<th>Descripción</th>
				<th>Alta</th>
				<th>Modificación</th>
				{% if is_granted('ROLE_PERMISSION_SHOW') %}<th>Permisos</th>{% endif %}
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
		{% if roles is empty %}
		<td colspan="5">No se han creado roles.</td>
		{% endif %}
			
		{% for role in roles %}
		<tr>
			<td>{{ role.id }}</td>
			<td>
			{% if is_granted('ROLE_ROLE_SHOW') %}
				<a href="{{ path('user_role_show', {id: role.id}) }}">{{ role.name }}</a>
			{% else %}
				{{ role.name }}
			{% endif %}
			</td>
			<td>{{ role.description }}</td>
			<td>{{ role.created|date('d/m/Y H:i') }}</td>
			<td>{{ role.modified|date('d/m/Y H:i') }}</td>
			{% if is_granted('ROLE_PERMISSION_SHOW') %}
			<td>
				<ul>
				{% for permission in role.assignedPermissions %}
					<li>{{ permission.getName() }}</li>
				{% endfor %}
				</ul>
			</td>
			{% endif %}
			<td>
				<ul>
					{% if is_granted('ROLE_ROLE_UPDATE') %}<li><a href="{{ path('user_role_edit', {id: role.id}) }}">Editar</a></li>{% endif %}
					{% if is_granted('ROLE_ROLE_DELETE') %}<li><a href="{{ path('user_role_delete', {id: role.id}) }}" class="role-action-delete">Borrar</a></li>{% endif %}
				</ul>
			</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
</div>

{% if is_granted('ROLE_ROLE_ADD') %}
<div>
	<a href="{{ path('user_role_create') }}">Crear</a>
</div>
{% endif %}
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
	$('.role-action-delete').click(function(e){
		continueToLink = confirm("¿Confirma que desea eliminar este rol?");
		return continueToLink;
	});
</script>
{% endblock %}