{% extends '::base.html.twig' %}

{% block title %}:: Rol :: Detalle{% endblock %}
{% block bodyTitle %}Detalle del Rol{% endblock %}

{% block body %}
<dl>
	<dt>Nombre:</dt><dd>{{ role.name }}</dd>
	<dt>Descripción:</dt><dd>{{ role.description }}</dd>
	<dt>Alta:</dt><dd>{{ role.created|date('d/m/Y H:i') }}</dd>
	<dt>Modificación:</dt><dd>{{ role.modified|date('d/m/Y H:i') }}</dd>
	<dt>Permisos:</dt>
	<dd>
	{% if role.assignedPermissions is empty %}
		<small>Ningún permiso asignado.</small>
	{% else %}
		<ul>
		{% for permission in role.assignedPermissions %}
			<li>{{ permission.getName() }}</li>
		{% endfor %}
		</ul>
	{% endif %}
	</dd>

		<dt>Usuarios:</dt>
		<dd>
			<ul>
				{% for user in role.users %}
					<li><a href="{{ path('user_show', {id: user.id}) }}" target="_blank">{{ user.getName() }}</a></li>
				{% endfor %}
			</ul>
		</dd>
		
	</dl>

</dl>
<div>
	<a href="{{ path('user_role_edit', {id: role.id}) }}">Editar Rol</a>
	<a href="{{ path('user_role_index') }}">Volver a la Lista</a>
</div>
{% endblock %}